<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <welcome-file-list>
    <welcome-file>mapApp.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Loads the data into Google DataStore</description>
    <display-name>LoadDataServlet</display-name>
    <servlet-name>LoadDataServlet</servlet-name>
    <servlet-class>org.leor.LoadDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDataServlet</servlet-name>
    <url-pattern>/LoadData</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetLocationsByPos</servlet-name>
    <servlet-class>org.leor.GetLocationsByPos</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>GetLocationsByPos</servlet-name>
    <url-pattern>/GetLocationsByPos</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetLocationsByText</servlet-name>
    <servlet-class>org.leor.GetLocationsByText</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>GetLocationsByText</servlet-name>
    <url-pattern>/GetLocationsByText</url-pattern>
  </servlet-mapping>
</web-app>